[MASTER]
#disable=
#    C0114, # (missing-module-docstring)
#    C0115, # (missing-class-docstring)
#    C0116, # (missing-function-docstring)
#    E1120, # (no-value-for-parameter)

[MESSAGES CONTROL]
disable=missing-docstring,empty-docstring,
    unexpected-keyword-arg,not-context-manager,no-value-for-parameter,
    fixme, line-too-long, invalid-name